*,*:before, *:after {
 box-sizing: border-box;
}

body {
  background-color: #ffffff;
  display: inline-block;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin:10px;
  position: relative;
  width: 375px;
  }

/*****MobileHeader*****/
header {
  background-color: #3966DA;
  border-bottom: 1px solid #3966DA;
  color: white;
  display: inline;
  margin: 0 auto;
  position: fixed;
  height:20px;
  width: 375px;
}

/*****Navigation*****/
nav, .footer {
  background-color: #3966DA;
  border-bottom: 1px solid #3966DA;
  color: white;
  display: inline-block;
  font-size: 17px;
  font-weight: medium;
  height: 44px;
  margin-top: 30px;
  position: absolute;
  width: 375px;
  text-align: center;
}


/*****ColumnHeaders*****/
  /*h2 {
  font-size: 17;
  font-style: italic;
  font-weight: normal;
  text-align: left;
}*/


/*****Bus Route Giant Number*****/

h3 {
  font-size: 22px;
  font-weight: 900;
  padding-left: 35px;
}

/*****Route Destination*****/

h4 {
  font-size: 17px;
  font-weight: 700;

}
div {
	background-color: #E6F1FE;
	display: inline-block;
	width: 375px;
}

.footer {
  height: 49px;
  margin-top: 618px;
  position: absolute;
  width: 375px;
  text-align: center;
}

.arrow {
  margin-left:336px;
  img src="images\7.Arrow_right.png" alt="choose"/>
}


